{{- $dest := .Destination -}}
{{- $isRemote := or (strings.HasPrefix $dest "http") (strings.HasPrefix $dest "mailto") -}}
{{- if not $isRemote -}}
{{- $urlParts := split $dest "#" -}}
{{- $path := index $urlParts 0 -}}
{{- $anchor := "" -}}
{{- if gt (len $urlParts) 1 -}}
{{- $anchor = printf "#%s" (delimit (after 1 $urlParts) "#") -}}
{{- end -}}

{{- $page := .Page.GetPage $path -}}
{{- if $page -}}
{{- $dest = printf "%s%s" $page.RelPermalink $anchor -}}
{{- else -}}
{{- /* Attempt to find by filename (Obsidian style) */ -}}
{{- $filename := path.Base $path -}}
{{- $name := $filename | strings.TrimSuffix (path.Ext $filename) -}}

{{- range site.RegularPages -}}
{{- if or (eq .File.LogicalName $filename) (eq .File.ContentBaseName $name) -}}
{{- $dest = printf "%s%s" .RelPermalink $anchor -}}
{{- break -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}

<a class="link" href="{{ $dest | safeURL }}" {{ with .Title}} title="{{ . }}" {{ end }}{{ if strings.HasPrefix
    .Destination "http" }} target="_blank" rel="noopener" {{ end }}>{{ .Text | safeHTML }}
    {{- if strings.HasPrefix .Destination "http" }}
    <span style="white-space: nowrap;"><svg width=".7em" height=".7em" viewBox="0 0 21 21"
            xmlns="http://www.w3.org/2000/svg">
            <path d="m13 3l3.293 3.293l-7 7l1.414 1.414l7-7L21 11V3z" fill="currentColor" />
            <path d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z"
                fill="currentColor" />
        </svg></span>
    {{- end -}}
</a>